.header__lang-link {
  justify-items: end;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: white;
  margin-right: 18px;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}
